@mixin rei-box {
    display: block;
    margin: 0.4em;
    background-color: var(--color-bac);
    box-shadow: 0 0 4px #0002;
}
// padding
@mixin padding-side($value) {
    padding-right: $value;
    padding-left: $value;
}
@mixin padding-updo($value) {
    padding-top: $value;
    padding-bottom: $value;
}
// margin
@mixin margin-side($value) {
    margin-right: $value;
    margin-left: $value;
}
@mixin margin-updo($value) {
    margin-top: $value;
    margin-bottom: $value;
}
